<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>环境变量助手</title>
    <link rel="stylesheet" href="asserts/css/style.css">
    <!-- 引入 Vue 2 -->
    <script src="asserts/js/vue.js"></script>
</head>

<body>
    <div id="app">
        <nav>
            <button id="add-button" @click="addLine">+</button>
            <select @change="onFileSelectChange">
                <option value=".zprofile">.zprofile</option>
                <option value=".zshrc">.zshrc</option>
                <option value=".bash_profile">.bash_profile</option>
                <option value=".bashrc">.bashrc</option>
            </select>
            <button id="save-all-button" @click="saveAll" :disabled="!isDataChanged"
                :class="{ 'disabled': !isDataChanged }">
                ✓
            </button>
        </nav>
        <ul>
            <li v-for="(line, index) in envLines" :key="index" @click="editLine(index)"
                :class="{ editable: editingIndex === index }">
                <!-- 根据 commandType 添加不同的类名 -->
                <span v-if="editingIndex!== index" :class="commandType[index]">{{ line }}</span>
                <div v-else>
                    <select v-model="commandType[index]">
                        <option value="export">export</option>
                        <option value="null">null</option>
                        <option value="alias">alias</option>
                        <option value="comment">comment</option>
                    </select>
                    <template v-if="commandType[index] === 'export' || commandType[index] === 'alias'">
                        <input v-model="envName[index]"
                            :disabled="commandType[index] === 'null' || commandType[index] === 'comment'" />
                        <input v-model="envValue[index]" :disabled="commandType[index] === 'comment'" />
                        <input v-model="comment[index]" />
                    </template>
                    <template v-else-if="commandType[index] === 'null'">
                        <input v-model="envLines[index]" />
                    </template>
                    <template v-else-if="commandType[index] === 'comment'">
                        <input v-model="comment[index]" placeholder="Edit comment" />
                    </template>
                    <button @click.stop="saveLine(index)">✓</button>
                    <button @click.stop="cancelEdit(index)">✕</button>
                    <button @click.stop="deleteLine(index)" class="delete-button">⇤</button>
                    <!-- 新增行按钮 -->
                    <button @click.stop="addLineBelow(index)">+</button>
                </div>
            </li>
        </ul>
    </div>

    <script src="asserts/js/script.js"></script>
</body>

</html>